<!doctype html>
<html lang="en">
 {% load static %}
  
<head>
    {% include 'head.html' %}
  </head>
  
  <body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme="light">
    <!-- [ Pre-loader ] start -->
<div class="loader-bg">
  <div class="loader-track">
    <div class="loader-fill"></div>
  </div>
</div>




 <!--  start -->
<nav class="pc-sidebar">

    {% include 'leftbar.html' %}
</nav>
<!-- [ Sidebar Menu ] end -->
 <!-- [ Header Topbar ] start -->
<header class="pc-header">
 
    {% include 'header.html' %}
</header>
<!-- [ Header ] end -->



    <!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header" style="margin-top: -28px;">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="page-header-title">
          <h5 class="mb-0">Manage Password</h5>
        </div>
      </div>
      <div class="col-md-12">
         <ul class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/adminapp/">Dashboard</a></li>
          <li class="breadcrumb-item" aria-current="page">Change Password</li>
        </ul>
      </div>
    </div>
  </div>
        </div>
<!-- [ breadcrumb ] end -->

<!-- start -->
      


 <div class="row">
          <!-- [ form-element ] start -->
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h5>Change Password</h5>
              </div>
              <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label class="form-label">Current Password</label><br>
                    <input type="text" class="form-control"  placeholder="Enter Current password" name="currentpassword" /><br>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">New Password</label><br>
                    <input type="text" class="form-control"  placeholder="Enter New password" name="newpassword" /><br>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Confirm Password</label><br>
                    <input type="text" class="form-control"  placeholder="Enter Confirm password" name="confirmpassword" /><br>
                  </div>

              
                  <div class="card-footer text-end">
                  <button type="submit"  class="btn btn-primary">Change Password</button>
                  </div>
               
                </form>
                <br>
                 {% if msg != "" %}
                 <a href="#" class="btn btn-danger">
                    <i class="fab fa-meg mr-2"></i> {{msg}}
                  </a>
                {% endif %}
              </div>
               
                  
            </div>
            </div>
            
          </div>
          
        </div>
       

          



<!-- end -->
      </div>

    <!-- [ Main Content ] end -->
<footer class="pc-footer">
        
    {% include 'footer.html' %}

</footer>

  {% include 'script.html' %}

  </body>
 
  </html>
