<!doctype html>
<html lang="en">
 {% load static %}
  
<head>
    {% include 'head.html' %}
  </head>
  
  <body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme="light">
    <!-- [ Pre-loader ] start -->
<div class="loader-bg">
  <div class="loader-track">
    <div class="loader-fill"></div>
  </div>
</div>
<!-- [ Pre-loader ] End -->



 <!--  start -->
<nav class="pc-sidebar">

    {% include 'leftbar.html' %}
</nav>
<!-- [ Sidebar Menu ] end -->
 <!-- [ Header Topbar ] start -->
<header class="pc-header">
 
    {% include 'header.html' %}
</header>
<!-- [ Header ] end -->



    <!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header" style="margin-top: -28px;">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="page-header-title">
          <h5 class="mb-0">Manage Specialization</h5>
        </div>
      </div>
      <div class="col-md-12">
         <ul class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/adminapp/">Dashboard</a></li>
          <li class="breadcrumb-item" aria-current="page">Specialization</li>
        </ul>
      </div>
    </div>
  </div>
        </div>
<!-- [ breadcrumb ] end -->


<!-- start -->
      


 <div class="row">
          <!-- [ form-element ] start -->
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h5>Add Specialization</h5>
              </div>
              <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                   {% csrf_token %}
                  <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" name="s_name" class="form-control" placeholder="Enter name" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Image</label>
                    <input type="file" name="s_image" class="form-control" placeholder="Enter Image" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Status</label>
                    <select name="s_status" id="" class="form-control" >
                      <option value="Active">Active</option>
                      <option value="Deactive">Deactive</option>
                    </select>
                  </div>
                <div class="card-footer text-end">
                <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                </div>
                </form>
              </div>
            </div>
           
          </div>
          
          

           <!-- Setting Defaults table start -->
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>View Specialization Details</h5>
                
              </div>
              <div class="card-body" style="overflow: auto;">
                <div class="dt-responsive">
                  <table id="setting-default" class="table table-striped table-bordered nowrap">
                    <thead>
                       <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Status</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                     <tbody>
                      {% for sdata in sp_data %}
                        <tr>
                            <td>{{forloop.counter}} </td>
                            <td>{{sdata.s_name}}</td>
                            <td>
                              <a href="/media/{{sdata.s_image}}" target="_blank">
                                <img src="/media/{{sdata.s_image}}" alt="" height="50px" width="50px">
                                </a>
                                </td>
                            <td> <span class="badge {% if sdata.s_status == 'Active' %}bg-warning{% else %}bg-danger {% endif %}">{{sdata.s_status}} </span></td>
                            
                           <td>
                                 <a href="/adminapp/specializationedit?sedit={{sdata.s_id}}"  class="btn btn-sm btn-outline-primary" >  <i class="ph ph-pencil" title="Add Specialization"></i></a>
                          
                            
                                <a href="/adminapp/specialization?sdel={{sdata.s_id}}" onclick="return confirm('Are You Sure You Want To Delete.?')" class="btn btn-sm btn-outline-danger"> <i class="ph ph-trash" title="Delete"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- Setting Defaults table end -->
              
        
 

     </div>
</div>
</div>

    <!-- [ Main Content ] end -->
<footer class="pc-footer">
        
    {% include 'footer.html' %}

</footer>


   {% include 'script.html' %}

  </body>
 
 
  </html>